<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>spring_mvc</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AnnotationHandleServlet</servlet-name>
		<servlet-class>org.dlj.web.controller.AnnotationHandleServlet</servlet-class>
		<init-param>
			<description>配置要扫描的包及其子包，如果有多个包，以逗号分隔</description>
			<param-name>basePackage</param-name>
			<param-value>org.dlj.web.controller,org.dlj.web.UI</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnnotationHandleServlet</servlet-name>
		<!-- 拦截所有以.dao后缀结尾的请求 -->
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>